html,
body {
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
}

p,
a {
    font-family: monospace;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.66);
}

pre[class*="language-"],
pre[class*="language-"] * {
    font-family: "JetBrains Mono", monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: geometricPrecision;
    background: rgb(11, 11, 11) !important;
}

div#canvas-parent {
    /* width: 80%; */
    /* height: 33vh; */
    overflow: hidden;
}

canvas {
    clip-path: inset(0 20% 0 20%);
}
